@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: clashDisplay;
  src: url("/ClashDisplay.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: epilogue;
  src: url("/Epilogue.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.clashDisplay {
  font-family: "clashDisplay", sans-sarif;
}

.epilogue {
  font-family: "epilogue", sans-serif;
}

.rhd {
  font-family: "Red Hat Display", sans-serif;
}