@import "tailwindcss";

@font-face {
  font-family: fac;
  src: url("/public/ClashDisplay.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "fac", sans-sarif;
}