@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

@font-face {
  font-family: fac;
  src: url("/public/ClashDisplay.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.cd {
  font-family: "fac", sans-sarif;
}

.rhd{
  font-family: "Red Hat Display", sans-serif;
}